

<div class="container">
  <H1>ADMIN INDEX BABY!</H1>
  <h2 class="d-flex justify-content-center" style="padding-left:10px; padding-top:30px">
    <% if Time.now < "12:00" %>
      Good morning
    <% elsif Time.now < "18:00" %>
      Good afternoon
    <% else %>
      Good evening
    <% end %>
     <%= current_user.firstname %>, here are all upcoming bookings...</h2>
    <div class="row">
      <% @bookings.order([:start_date, :desc]).each do |b| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-product">
            <img src="<%= b.game.image %>">
            <div class="card-product-infos">
              <h4><%=b.game.title%></h4>
              <p>Booked by <%= b.user.firstname %> <%= b.user.surname %></p>
              <p>FROM: <%= b.start_date.strftime('%a %d %b') %>
              <p>UNTIL: <%= b.end_date.strftime('%a %d %b') %>
              <%= link_to booking_path(b),method: :delete,
              data: {confirm: "are you sure?"} do %>
              <p class="text-success">cancel<i class="fas fa-trash"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


</div>
